﻿@inherits LayoutComponentBase

<NavMenu></NavMenu>
<div class="container body-content">
    @Body
    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Mini Case Management System</p>
    </footer>
</div>

@code {

}
