﻿<nav class="navbar  navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div>
        <a class="navbar-brand" href="/"> CMS Program</a>
    </div>
    <div class="navbar-header">
        <button class="navbar-toggler" @onclick="() => ToggleNavMenu()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse @NavMenuCssClass" id="navbarSupportedContent">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
