﻿@page "/CaseDetails/{caseId}"
@using CoreCaseManagementSystem.Models.ViewModels
@inject CoreCaseManagementSystem.Models.EF.CaseRepository _db
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject ILogger<EditCase> Logger


<div class="container">
    <br />
    <h1 style="text-align: center">Case Details</h1>
    <hr />
    <h2>Case Number: </h2>
    <p>@Model.Case.CaseId</p>
    <hr />
    <h3>Date Submitted: </h3>
    <p>@Model.Case.FilingDate.ToString("MM/dd/yyyy")</p>
    <hr />
    <h4>Agency: </h4>
    <p>@Model.Case.Agency</p>
    <hr />
    <h4>Charges</h4>
    <ul style="font-size:18px">
        @foreach (var item in Model.Charges)
        {
            <li>@item.Name</li>
        }
    </ul>
    <br />
    <h3 style="text-align: center">Case Information</h3>
    <br />
    <h4>Defendant:</h4>
    <p>@Model.Details.DefendantFirstName @Model.Details.DefendantLastName</p>
    <br />
    <h4>Street:</h4>
    <p>@Model.Details.StreetAddress</p>
    <br />
    <h4>City:</h4>
    <p>@Model.Details.City</p>
    <br />
    <h4>State:</h4>
    <p>@Model.Details.State</p>
    <br />
    <h4>City:</h4>
    <p>@Model.Details.ZipCode</p>
    <br />
    <a href="/">Go Home</a>
</div>
@code {
    [Parameter]
    public string CaseId { get; set; }
    private CaseViewModel Model { get; set; }

    protected override void OnInitialized()
    {
        var retrievedCase = _db.Cases.Include(d => d.CaseDetail).Include(ch => ch.Charges).FirstOrDefault(c => c.CaseId == new Guid(CaseId));
        List<ChargeChecklist> checkList = (from cl in _db.Charges
                                           select new ChargeChecklist { Charge = cl, IsSelected = false }).ToList();

        Model = new CaseViewModel()
        {
            Case = retrievedCase,
            Charges = retrievedCase.Charges.ToList(),
            Details = retrievedCase.CaseDetail

        };
    }

}
