﻿
@page "/CreateCase"
@using CoreCaseManagementSystem.Models.ViewModels
@using CoreCaseManagementSystem.Models.EF
@inject CoreCaseManagementSystem.Models.EF.CaseRepository _db
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject ILogger<EditCase> Logger

<div class="container" style="margin-top:100px">
    <h1>Create Case</h1>
    <hr />
    <div class="container mt-10">
        @if(_db.Cases.ToList().Count >= 10)
        {
                <p>Not able to add more than 10 cases to this system at this time</p>
        }
        else
        {
            <EditForm Model="Model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group row">
                    <label for="agency" class="col-sm-4">Agency</label>
                    <div class="col-sm-8">
                        <InputText id="agency" @bind-Value="Model.Agency" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.Agency)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstName" class="col-sm-4">First Name</label>
                    <div class="col-sm-8">
                        <InputText id="firstName" @bind-Value="Model.FirstName" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.FirstName)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-sm-4">Last Name</label>
                    <div class="col-sm-8">
                        <InputText id="lastname" @bind-Value="Model.LastName" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.LastName)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-4">Street Address</label>
                    <div class="col-sm-8">
                        <InputText id="address" @bind-Value="Model.StreetAddress" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.StreetAddress)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-4">City</label>
                    <div class="col-sm-8">
                        <InputText id="city" @bind-Value="Model.City" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.City)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-sm-4">State</label>

                    <div class="col-sm-8">
                        <InputText id="state" @bind-Value="Model.State" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.State)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zipcode" class="col-sm-4">ZipCode</label>
                    <div class="col-sm-8">
                        <InputText id="zipcode" @bind-Value="Model.ZipCode" class="form-control"></InputText>
                        <ValidationMessage For="@(() => Model.ZipCode)" />
                    </div>
                </div>
                <h4 style="text-align: center">Charges</h4>
                @foreach (var ch in Model.Checklist)
                {
                    <div class="form-check">
                        <InputCheckbox id="ch.Charge.ChargeId" @bind-Value="ch.IsSelected" class="form-check-input" />
                        <label for="ch.Charge.ChargeId" class="form-check-label">@ch.Charge.Description</label>
                    </div>
                }
                <a class="btn btn-danger" href="/"> Cancel</a>
                <input class="btn btn-primary" type="submit" value="Submit">
            </EditForm>
        }
    </div>
</div>
@code {
    private CreateCaseViewModel Model { get; set; }

    protected override void OnInitialized()
    {
        var Charges = _db.Charges.ToList();
        List<ChargeChecklist> checkList = (from cl in Charges select new ChargeChecklist { Charge = cl, IsSelected = false }).ToList();

        Model = new CreateCaseViewModel();
        Model.Checklist = checkList;

    }

    private void HandleValidSubmit()
    {
        var newCase = new Case();
        newCase.Agency = Model.Agency;
        newCase.CaseDetail = new CaseDetail()
        {
            StreetAddress = Model.StreetAddress,
            State = Model.State,
            DefendantFirstName = Model.FirstName,
            DefendantLastName = Model.LastName,
            ZipCode = Model.ZipCode,
            City = Model.City
        };
        newCase.Charges = new List<Charge>();
        newCase.FilingDate = DateTime.Now;
        foreach (var check in Model.Checklist)
        {
            if (check.IsSelected && !newCase.Charges.Contains(check.Charge))
            {
                newCase.Charges.Add(check.Charge);
            }

            if (!check.IsSelected && newCase.Charges.Contains(check.Charge))
            {
                newCase.Charges.Remove(check.Charge);
            }
        }

        _db.AddAsync(newCase);
        Logger.LogInformation("Case Created");
        _db.SaveChanges();
        Logger.LogInformation("Case Saved");
        NavigationManager.NavigateTo("/");


    }

}

