﻿@page "/EditCase/{caseId}"
@using CoreCaseManagementSystem.Models.ViewModels
@inject CoreCaseManagementSystem.Models.EF.CaseRepository _db
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject ILogger<EditCase> Logger

<div class="container" style="margin-top:100px">
    <h1>Edit Case</h1>
    <hr />
    <div class="container mt-10">
        <EditForm Model="Model" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="agency" class="col-sm-4">Agency</label>
                <div class="col-sm-8">
                    <InputText id="agency" @bind-Value="Model.Agency" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.Agency)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="firstName" class="col-sm-4">First Name</label>
                <div class="col-sm-8">
                    <InputText id="firstName" @bind-Value="Model.FirstName" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.FirstName)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4">Last Name</label>
                <div class="col-sm-8">
                    <InputText id="lastname" @bind-Value="Model.LastName" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.LastName)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-4">Street Address</label>
                <div class="col-sm-8">
                    <InputText id="address" @bind-Value="Model.StreetAddress" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.StreetAddress)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="city" class="col-sm-4">City</label>
                <div class="col-sm-8">
                    <InputText id="city" @bind-Value="Model.City" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.City)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="state" class="col-sm-4">State</label>

                <div class="col-sm-8">
                    <InputText id="state" @bind-Value="Model.State" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.State)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="zipcode" class="col-sm-4">ZipCode</label>
                <div class="col-sm-8">
                    <InputText id="zipcode" @bind-Value="Model.ZipCode" class="form-control"></InputText>
                    <ValidationMessage For="@(() => Model.ZipCode)" />
                </div>
            </div>
            <h4 style="text-align: center">Charges</h4>
            @foreach (var ch in Model.Checklist)
            {
                <div class="form-check">
                    <InputCheckbox id="ch.Charge.ChargeId" @bind-Value="ch.IsSelected" class="form-check-input" />
                    <label for="ch.Charge.ChargeId" class="form-check-label">@ch.Charge.Description</label>
                </div>
            }
            <a class="btn btn-danger" href="/"> Cancel</a>
            <input class="btn btn-primary" type="submit" value="Submit">
        </EditForm>
    </div>
</div>
@code {
    [Parameter]
    public string CaseId { get; set; }
    private EditCaseViewModel Model { get; set; }

    protected override void OnInitialized()
    {
        var retrievedCase = _db.Cases.Include(d => d.CaseDetail).Include(ch => ch.Charges).FirstOrDefault(c => c.CaseId == new Guid(CaseId));
        var Charges = _db.Charges.ToList();
        List<ChargeChecklist> checkList = (from cl in _db.Charges
                                           select new ChargeChecklist { Charge = cl, IsSelected = false }).ToList();

        foreach (var check in checkList)
        {
            foreach (var charge in retrievedCase.Charges)
            {
                if (check.Charge.ChargeId == charge.ChargeId)
                {
                    check.IsSelected = true;
                }
            }
        }

        Model = new EditCaseViewModel()
        {
            CaseId = retrievedCase.CaseId.ToString(),
            CaseDetailId = retrievedCase.CaseDetail.CaseDetailId.ToString(),
            Agency = retrievedCase.Agency,
            StreetAddress = retrievedCase.CaseDetail.StreetAddress,
            City = retrievedCase.CaseDetail.City,
            State = retrievedCase.CaseDetail.State,
            ZipCode = retrievedCase.CaseDetail.ZipCode,
            FirstName = retrievedCase.CaseDetail.DefendantFirstName,
            LastName = retrievedCase.CaseDetail.DefendantLastName,
            Checklist = checkList
        };
    }
    private void HandleValidSubmit()
    {
        var retrievedCase = _db.Cases.Include(d => d.CaseDetail).Include(ch => ch.Charges).FirstOrDefault(c => c.CaseId == Guid.Parse(Model.CaseId));
        retrievedCase.Agency = Model.Agency;
        retrievedCase.CaseDetail.StreetAddress = Model.StreetAddress;
        retrievedCase.CaseDetail.City = Model.City;
        retrievedCase.CaseDetail.State = Model.State;
        retrievedCase.CaseDetail.ZipCode = Model.ZipCode;
        retrievedCase.CaseDetail.DefendantFirstName = Model.FirstName;
        retrievedCase.CaseDetail.DefendantLastName = Model.LastName;
        foreach (var check in Model.Checklist)
        {
            if (check.IsSelected && !retrievedCase.Charges.Contains(check.Charge))
            {
                retrievedCase.Charges.Add(check.Charge);
            }

            if (!check.IsSelected && retrievedCase.Charges.Contains(check.Charge))
            {
                retrievedCase.Charges.Remove(check.Charge);
            }
        }
        _db.Update(retrievedCase);

        Logger.LogInformation("Case Updated");
        _db.SaveChanges();
        Logger.LogInformation("Case Saved");
        NavigationManager.NavigateTo("/");
    }

}
