﻿@page "/"
@inject CoreCaseManagementSystem.Models.EF.CaseRepository _db
@using CoreCaseManagementSystem.Models.ViewModels
@using Microsoft.EntityFrameworkCore
<div>
    <br />
    <br />
    <br />
    <br />
    <h2 style="text-align: center">Recent Cases</h2>
    <br />
    <a href="/CreateCase">Create a New Case</a>
    <br />
    <br />
    @if (viewModel.Cases.Count == 0)
    {
        <h4 style="text-align:center"> No Cases to Display</h4>
    }
    else
    {
        <table id="RecentCasesTable" class="table table-hover">
            <tr>
                <th width="20%">Case Number </th>
                <th width="15%">Submission Date</th>
                <th width="10%">Agency</th>
                <th width="20%">Defendant Name</th>
                <th width="10%">City</th>
                <th width="5%">State</th>
                <th width="20%">Actions</th>
            </tr>
            <tbody id="newCasesContentRows">
                @foreach (var item in viewModel.Cases)
                {
                    <tr>
                        <td> <a href="/CaseDetails/@item.CaseId.ToString()"> @item.CaseId.ToString()</a></td>
                        <td>@item.FilingDate.ToString("MM/dd/yyyy")</td>
                        <td>@item.Agency</td>
                        <td>@item.CaseDetail.DefendantFirstName  @item.CaseDetail.DefendantLastName.</td>
                        <td>@item.CaseDetail.City</td>
                        <td>@item.CaseDetail.State</td>
                        <td><a class="btn btn-success" href="/EditCase/@item.CaseId.ToString()"> Edit</a> | <button type="button" class="btn btn-danger" @onclick="() => Modal.Open(item.CaseId.ToString())">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<CoreCaseManagementSystem.Pages.Modal @ref="@Modal"></CoreCaseManagementSystem.Pages.Modal>
@code{
    private HomeViewModel viewModel;
    private CoreCaseManagementSystem.Pages.Modal Modal { get; set; }

    protected override void OnInitialized()
    {
        Modal = new CoreCaseManagementSystem.Pages.Modal();
        viewModel = new HomeViewModel
        {
            Cases = _db.Cases.Include(c => c.CaseDetail).ToList()
        };
    }

}