﻿@inject CoreCaseManagementSystem.Models.EF.CaseRepository _db

<div class="modal @ModalClass" style="display:@ModalDisplay" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                &nbsp;
                &nbsp;
                &nbsp;
                <p>Are you sure you want to delete case number: <b>@caseId</b>?</p>
                &nbsp;
                <p>This will delete all information regarding this case</p>
                &nbsp;
                &nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Cancel</button>
                <button class="btn btn-danger" @onclick="() => DeleteCase()">Yes</button>
            </div>
        </div>
    </div>
</div>
@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
@code {
    private string caseId;
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public void Open(string id)
    {
        caseId = id;
        ModalDisplay = "block;";
        ModalClass = "fade show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        caseId = null;
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
    public void DeleteCase()
    {
        if (string.IsNullOrEmpty(caseId))
        {
            throw new Exception("Case does not exist");
        }
        else
        {
            CoreCaseManagementSystem.Models.EF.Case deletedCase = (from c in _db.Cases
                                                                   where c.CaseId.ToString() == caseId
                                                                   select c).FirstOrDefault();
            _db.CaseDetails.Remove(deletedCase.CaseDetail);
            _db.Cases.Remove(deletedCase);
            _db.SaveChanges();

        }

    }
}
